.navbar, .container-fluid{
    background-color: #000000;
    
}
.navbar-brand{
    margin-right: 20% !important
}
.nav-item{
    margin-right: 20px
}

.about h2, .clientele-head, .projetcs-head, .service-head{
    color: #17958D !important;
}

.about-text{
    color: white !important;
    font-size: 18px;
}

.stv{
    background-color: #0C0C0C;
    color: white
}

.num{
    font-size: 70px !important;
}

.projects{
    color: white;
}

.clientele-text, .f-contact, .list-col {
    color: white;
    font-size: 16px !important;
}


.card{
    background-color: rgba(245,245,245,0.4) !important;
    padding: 20px !important;
}

.sub-text{
    color: white;
    font-size: 14px;
}
.subscribe-head-text{
    color: white;
    font-weight: 700;
    font-size: 16px !important;
   }

 .f-email{
    width: 215px !important;
    border-radius: 1.5rem !important;
    height: 30px !important;
    opacity: 0.5 !important;
    padding: 18px !important;
    font-size: 14px !important;
}
.btn-go{
    border-radius: 2.5rem !important;
    background-color: white !important;
    border-color: white !important;
    color: black !important;
    width: 45px !important;
    height: 35px !important;
}
hr {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 1px !important;
    background-color:#666;
    opacity: 0.5;
    }

    .social-icon{
        width: 60%;
        height: 60%;
    } 
    
    .list-inline-item{
        margin-right: 5px !important;
    }
    
      .footer-copyright{
         color: white;
      }

      .copyright-text{
        display: inline-block;
    }

@media screen and (min-width: 992px){
    .about{
        padding-left: 80px !important;
        padding-top: 160px !important;
    }

    .stv{
        padding: 60px !important;
    }

    .mission, .vision, .name-logic{
       padding: 40px !important;
    }

   .projects{
       padding: 60px;
   }

   .clientele-main{
   padding: 100px !important;
   }

   .loop{
       background-image: url('../images/Group\ 39.png');
       background-position: center !important;
       background-repeat: no-repeat !important;
       padding-top: 100px;
       padding-bottom: 100px;
       margin-left: 70px !important;
       margin-right: 70px !important;
   }

   .crd{
       margin-top: 30px !important;
   }

   .projects-img{
       margin-left: 12.333333% !important;
   }

   .footer-row{
       margin-top: 150px;
   }

   .f-logo{
     padding-left: 150px !important;
   }

   .subscribe-head{
    float: right;
    padding-top: 35px;
    padding-right: 150px;
   }

   .form-inline{
       float: none !important;
       margin-right: 10px !important;
   }

   .f-contact{
       font-size: 16px !important;
   }

   .list-inline{
       margin-top: 145px;
       color: white;
   }

   .list-inline-item{
    margin-right: 35px !important;
}

   .list-inline{
    margin-right: 105px !important;
}

.company-contact{
    float: right;
}

}

/* .btn-circle.btn-lg {
    width: 50px !important;
    height: 50px !important;
    padding: 10px 16px !important;
    font-size: 18px !important;
    line-height: 1.33 !important;
    border-radius: 25px !important;
    background-color: white !important;
  } */


@media screen and (max-width: 991px){
    .navbar-nav{
        display: none !important;
    }

    .about h2{
        color: #17958D !important;
        text-align: start;
    }

    .about{
        padding: 60px !important;
        text-align: start !important;
    }

    .about-text{
        color: white !important;
        font-size: 14px;
    }

    .mission, .vision, .name-logic{
        padding: 60px !important;
        font-size: 14px;
    }

    .a, .b, .c, .d{
        padding: 60px !important;
    }

    .ray-pic{
        padding: 60px !important;
    }

    .clientele-main{
        padding: 60px !important;
       }

       .projects-img{
        padding: 45px !important;
    }

    .dev_2, .dev_3{
        padding: 25px !important;
    }

    .loop{
       padding: 40px !important;
    }

    .crd{
        margin-top: 30px !important;
        text-align: center;
    }

    .footer-row{
        text-align: center !important;
    }

    .c-row{
        text-align: center !important;
    }

    .f-logo{
        padding: 30px !important;
    }

    .f-contact p{
        font-size: 16px !important;
    }
    
    .list-unstyled{
        color: white;
        font-size: 16px !important;
    }

    .list-unstyled li{
      padding-bottom: 10px !important;
    }
}