html, body {
    margin: 0;
    height: 100%;
}

.navbar, .container-fluid{
    background-color: #000000;
    
}
.navbar-brand{
    margin-right: 20% !important
}
.nav-item{
    margin-right: 20px
}

.head, .content{
    color: white;
}

.content{
    margin-top: 20px;
}


.sub-text{
    color: white;
    font-size: 14px;
}
.subscribe-head-text{
    color: white;
    font-weight: 700;
    font-size: 16px !important;
   }

 .f-email{
    width: 165px !important;
    border-radius: 1.5rem !important;
    opacity: 0.5 !important;
    padding: 14px !important;
    font-size: 12px !important;
}
.btn-circle {
    width: 30px !important;
    height: 30px !important;
    padding: 6px 0px !important;
    border-radius: 15px !important;
    text-align: center !important;
    font-size: 12px !important;
    line-height: 1.42857 !important;
    background-color: white !important;
    margin-left: 10px !important;
}
hr {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 1px !important;
    background-color:#666;
    opacity: 0.5;
    }

    
.footer-copyright{
    color: white;
 }

 .copyright-text{
   display: inline-block;
}

.left-foo-text, .right-foo-text{
   color: white;
   font-size: 12px;
}

.footer-nav a {
   color: white !important;
   /* padding-right: 30px; */
   font-size: 12px;
}

.footer-nav li{
   list-style: none !important;
 }

.footer-nav a :hover {
text-decoration: none !important;
}

@media screen and (max-width: 991px){
    .navbar-nav{
        display: none !important;
    }

    .process-main{
        padding: 45px !important;
        text-align: start;
    }

    .idea-int, .process_1, .process_2, .optimum-sol, .milestone{
        padding: 45px !important;
    }

    
    .footer-nav{
        display: block !important;
        text-align: center;
        margin-top: 20px !important;
    }

    .contact-info{
        margin-top: 50px !important;
        font-size: 20px !important;
    }

    .footer-nav li {
        font-size: 20px !important;
        margin-bottom: 20px !important;
    }

    .footer-nav li a{
        font-size: 20px !important;
    }

    .right-foo-text{
        text-align: center !important;
        margin-top: 20px !important;
    }

    .right-foo-text h4{
        font-size: 2rem !important;
    }

    .right-foo-text p{
        font-size: 16px !important;
    }

    .form-inline{
        margin: auto !important;
        display: inline-flex !important;
    }

    .btn-go{
        margin-left: 12px;
    }

    .main-footer{
        text-align: center !important;
        margin-top: 100px;
    }

    .btn-circle{
        margin-bottom: 4% !important;
    }

        
    .list-small{
        margin: auto;
        margin-top: 30px;
     }
 
     .list-big{
         display: none !important;
     }
}

@media screen and (min-width: 992px){

    .top-row{
        margin-top: 40px !important;
    }
    .process-main{
        padding-left: 45px !important;
        padding-top: 100px !important;
    }

    .idea-int{
        padding-left: 45px !important;
        padding-top: 65px !important;
    }

    .process_1, .process_2{
        padding: 45px !important;
    }

    .optimum-sol{
     padding-top: 100px !important;
    }

    .milestone{
        padding-left: 45px !important;
        padding-top: 90px !important;
    }

    .footer-row{
        margin-top: 150px;
    }
    
    .f-logo{
      padding-left: 150px !important;
    }
    
    .subscribe-head{
     float: right;
     padding-top: 35px;
     padding-right: 150px;
    }
    
    .form-inline{
        float: none !important;
        margin-right: 10px !important;
        margin-top: 25px !important;
    }
    
    .f-contact{
        font-size: 16px !important;
    }
    
    .company-contact{
      float: right;
    }
    
    .contact-info{
       margin-top: 60px !important;
    }
    
    .footer-nav{
       margin-top: 155px !important;
    }

    .main-footer{
        margin-top: 130px;
    }
    
    .right-foo-text{
       margin-top: 60px !important;
    }

    .left-foo-text{
        padding-right: 40px !important;
    }

    .copyright-text{
        padding-left: 100px !important;
    }
    
    .list-bg{
       padding-right: 104px !important;
    }

    
    .list-big{
        padding-right: 104px !important;
     }
     
     .list-small{
         display: none !important;
     }
    
}

@media screen and (max-width: 1025px){
    .ray-image{
        margin-top: 80px !important;
    }

}